@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  /* Text root settings */
  --tittle-font-size: 1.125rem;
  --body-font-size: 0.875rem;
  --small-text-font-size: 0.75rem;
  --tag-text-font-size: 0.625rem;
  --button-text-color: #883ae1;
  --button-background-color: #E6D6FC;
  --tittle-text-color: #20293a;
  --small-text-color: #6c727f;

  /* Other root Settings */
  --card-background-color: #FFF;
  --main-background-color: #FAFAF9;
  --background-color: #e5eaf0;
}

body {
  font-family: 'Sora', sans-serif;
  background-color: var(--main-background-color);
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-body {
  margin-top: 164px;
  width: 336px;
  border-radius: 30px;
  background-color: var(--card-background-color);
  padding:16px 16px 20px;
}

.cactus{
  border-radius: 15px;
  width: 336px;
  height: 152px;
  margin-bottom: 16px;
}

.small__button{
  font-size: var(--small-text-font-size);
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  text-align: center;
  width:15%;
  border-radius: 15px;
  font-weight: 500;
  padding: 6px 16px;
  margin-bottom: 16px;
}

.tittle{
  font-size: var(--tittle-font-size);
  color: var(--tittle-text-color);
  margin-bottom: 6px;
}

.small__text{
  font-size: var(--body-text-font-size);
  color: var(--small-text-color);
  margin-bottom: 20px;
}

.tag{
  font-size: var(--tag-text-font-size);
  color: var(--small-text-color);
}